<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <title>
    {% block title_block_ %}
    {% endblock %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Facebook share button API-->

  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="UoG giftshop" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower">

  <link rel="stylesheet" type="text/css" href="{% static 'CSS/item.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/register.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/profile.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/setting.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/mycomments.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
  <script src="{% static 'JS/facebook.js' %}"></script>
  <script src="{% static 'JS/twitter.js' %}"></script>
  <script src="{% static 'JS/datatable.js' %}"></script>
  



<!--Head picture and the navbar-->
</head>
<body>
  <div class="headbar">
    <div style="float:left">
      <img id="logo"  src="{% static "images/logo.jpg" %}" alt="Logo of UoG" />
    </div>
    <div id="welcome">
      <p> Welcome to the Gift Shop Comment Web! </p>
    </div>
  </div>
  <!--Navigation bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="{% url 'index' %}">Home</a></li>
          <!-- <li class="active"></li> -->
          {% if categories %}
            {% for category in categories %}
              <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
		  <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'profile' user.username %}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
              <li><a href="{% url 'wishlist' %}"><span class="glyphicon glyphicon-th-list"></span> Wish List</a></li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
              <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
              <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>

      </div>
    </div>
  </nav>

  {% block body_block %}
  {% endblock %}
  
  <!--The footer-->
  <footer class="container-fluid text-center">
    <p>2017 CGROUP IT Team in University of Glasgow.</p>
  </footer>

	<div id="fb-root"></div>




</body>
</html>
