{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}


    {% if category %}
    <div class="row" id="welcome" style="color:#000000" align="center">
         <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category.name }}</h1>
    </div>
        {% if items %}
            <ul>
              <div class="row">
                {% for item in items %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{% url 'show_item' item.category.slug item.slug %}"><img src="{{ item.logo.url }}" alt="" height=400 width=200></a>
                            <!-- <img src="http://placehold.it/320x150" alt=""> -->
                            <div class="caption">
                                <h4 class="pull-right">£{{ item.price }}</h4>
                                <h4><a href="{% url 'show_item' item.category.slug item.slug %}">{{ item.name }}</a></h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{visits}} visitors</p>
								<p><br><p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              </div>
            </ul>
        {% else %}
            <strong>No pages currently in category. </strong>
        {% endif %}



    {% else %}
        The specified category does not exist!
    {% endif %}

	<div class="border-4"></div>
	<div class="border-1"></div>
	<br>


{% endblock %}
