{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block_ %}
UOG Giftshop
{% endblock %}

{% block body_block %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
		<div class="container" style="width:100%">
			<a href="#"><img  src="{{MEDIA_URL}}/images/glasgow2.jpg" alt="Image"></a>
		</div>
        <div class="carousel-caption">
          <h3>Best Online Gallery</h3>
          <p>A GREAT SELECTION OF...</p>
        </div>
      </div>

      <div class="item">
		<nav class="navbar navbar-default" id="new-nav"style="margin-left: 10%" >
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="http://127.0.0.1:8000/giftshop/category/clothing/clothing-1/"><img id="scroll-img" class="img-responsive" src="{{MEDIA_URL}}/images/item-001.jpg" alt="Image"></a></li>
					<li><a href="http://127.0.0.1:8000/giftshop/category/clothing/clothing-1/"><img id="scroll-img" class="img-responsive" src="{{MEDIA_URL}}/images/item-002.jpg" alt="Image"></a><li>
					<li><a href="http://127.0.0.1:8000/giftshop/category/clothing/clothing-1/"><img id="scroll-img" class="img-responsive" src="{{MEDIA_URL}}/images/item-003.jpg" alt="Image"></a><li>
				</ul>
			</div>
		</nav>
        <div class="carousel-caption">
          <h3>WHAT'S NEW?</h3>
          <p>New arrivals!</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<div class="border-3"></div> 
<div class="container text-center">
  <!-- <h3>What We Do</h3><br> -->
  <div><h2 style="text-align:center">Most Popular</h2></div>
  <br>
  <p></p>
  <div class="row">
    <div class="col-sm-4">
      <img src="{{MEDIA_URL}}/images/new2.png" class="img-responsive"   alt="Image">
      <p>New Arrivals</p>
    </div>
    <div class="col-sm-4">
      <img src="{{MEDIA_URL}}/images/new2.png" class="img-responsive"  alt="Image">
      <p>Best Sellers</p>
    </div>
	<div class="col-sm-4">
      <img src="{{MEDIA_URL}}/images/new2.png" class="img-responsive"  alt="Image">
      <p>Best Sellers</p>
	  <br>
    </div>
	
	
	<div class="col-sm-4">
      <img src="{{MEDIA_URL}}/images/new2.png" class="img-responsive"  alt="Image">
      <p>Best Sellers</p>
    </div>
	<div class="col-sm-4">
      <img src="{{MEDIA_URL}}/images/new2.png" class="img-responsive"  alt="Image">
      <p>Best Sellers</p>
    </div>
	<div class="col-sm-4">
      <img src="{{MEDIA_URL}}/images/new2.png" class="img-responsive"  alt="Image">
      <p>Best Sellers</p>
    </div>

  </div>
</div><br>

{% endblock %}
