{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block_ %}
UOG Giftshop

{% endblock %}

{% block body_block %}



<div>


    {% if items %}
    <div id="item-001">

        <div id="item_pic" style="margin:30px;float:left" >
            <img id="item_img" class="img-responsive" src="{{ items.logo.url }}" />
        </div>
        <div id="item_description">


<!--
			{% for n in pictures %}
			<img src="{{n.picture.url}}"/>
			{% endfor %}-->

			<div class="container col-xs-8" >
				<ul class="nav navbar-nav">
					<li><h1>{{ items.name }}</h1></li>
					<li><div style="margin:5px"></div></li>
					<li>
		  <!--<a href="http://127.0.0.1:8000/giftshop/category/{{category.slug}}/{{items.slug}}/">try</a>-->
					<div class="fb-share-button" data-href="" data-layout="button">
					</div>
					</li>
					<li><div style="margin:5px"></div></li>
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-size="samall">Tweet</a>
						<script>
							!function(d,s,id){
								var js,fjs=d.getElementsByTagName(s)[0],
								p=/^http:/.test(d.location)?'http':'https';
								if(!d.getElementById(id)){js=d.createElement(s);
								js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
								fjs.parentNode.insertBefore(js,fjs);}}
							(document, 'script', 'twitter-wjs');
						</script>
					</li>
				</ul>
				<br>
				<br>
				<br>
				<br>

				<p id="item_price" >£{{ items.price }}</p>
				<div id="rate"><h4>Rate:</h4></div>
				<div class=" col-xs-2">
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
							aria-valuemin="0" aria-valuemax="100" style="width:{%  widthratio totalrate 1 10 %}%">
							{{ totalrate }}
						</div>
					</div>
				</div>
				<br><br><br>


				<div><p id="item_stock">stock: 56</p></div>
				<p> visits: {{ visits }}</p>

				<div class="border-3"></div>
				<div id="item_text">
					{{ items.description|linebreaks }}
				</div>
			</div>
				<div id="buy_btn">
					<table>
						<tbody>
							<tr>
								<td><a href="{{ items.url }}"><button type="button" class="btn btn-primary btn-lg">Buy in the Gift Shop</button></a></td>
                <td><a href="{% url 'add_wishlist' category.slug items.slug %}"><button type="submit" class="btn btn-success btn-lg" id="list_btn">Add into Wishlist</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>

    </div>
                    {% endif %}

    <div class="border-4"></div>
	<div class="border-4"></div>






	<div>
		<div class="container">
			<h2>Customer Reviews</h2>
			<br>

			<table id="table_id" class="table display table-hover">
				<thead>
					<tr>
						<th>Comment</th>
						<th>User</th>
						<th>Date</th>
						<th>Rate</th>
					</tr>
				</thead>
				<tbody>
				{% for comment in comments %}
					<tr>
						<td>{{ comment.content }}</td>
						<td id="comment_user">{{ comment.user }}</td>
						<td>{{ comment.pub_date | date:"j M" }}</td>
						<td>{{ comment.rate }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>



	<script>
	$(document).ready( function () {
		$('#table_id').DataTable();
	} );
	</script>


    {% if user.is_authenticated %}
    <div id="make_comment">
        <div class="container">
            <h2>Make Your Own Comment: </h2>
			<br>


			<div><h4>Comment:</h4></div>
			{% load bootstrap3 %}
                    <form action="{% url 'add_comment' category.slug items.slug %}" method="post">
                        {% csrf_token %}
						{% bootstrap_form commentform %}

                        <input class="btn btn-info" type="submit" value="Submit" />
                    </form>
			</div>
        </div>

    </div>
	{% else %}
	<div class="container">
		<div class="well" >
			<h3 id="comment_login">Login to make your own comments.</h3>
			<div id="login_link"><a href="{% url 'login' %}" ><h4 >Login</h4></a></div>
		</div>
	</div>
	{% endif %}


</div>

<div class="border-4"></div>

	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>





{% endblock %}
