{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block_ %}
UOG Giftshop

{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/media/images/profile.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ user.username }}
					</div>
					<div class="profile-usertitle-email">
						{{ user.email }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->

				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="{% url 'profile' user.username %}">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>

						<li>
							<a href="#">
							<i class="glyphicon glyphicon-comment"></i>
							My Comments </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>

		<div class="col-md-8">
            <div class="profile-content">

					<!--Show all comments made by this user-->
					<table id="table_id" class="table display table-hover">
						<thead>
							<tr>
								<th>item</th>

								<th>Comment</th>
								<th>Rate</th>
								<th>Date</th>
							</tr>
						</thead>
							<tbody>
								{% for comment in comments %}
									<tr>
										<td>{{comment.item}}</td>

										<td>{{ comment.content }}</td>
										<td id="comment_user">{{ comment.rate }}</td>
										<td>{{ comment.pub_date | date:"j M" }}</td>
									</tr>
								{% endfor %}
							</tbody>
					</table>

			</div>
        </div>



	</div>
</div>


{% endblock %}
