{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block_ %}
UOG Giftshop
<style>
    .border-1 {
        height: 50px;
    }
</style>
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/media/images/profile.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ user.username }}
					</div>
					<div class="profile-usertitle-email">
						{{ user.email }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->

				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="{% url 'profile' user.username %}">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-cog"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="{% url 'my_comments' %}">
							<i class="glyphicon glyphicon-comment"></i>
							My Comments </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-envelope"></i> Email</div>
						<div class="panel-body">
							<div class="col-xs-6"><input type="email" class="form-control" id="email" placeholder="Enter email"></div>
							<input type="submit" class="btn btn-primary" value="Confirm">
						</div>
					</div>
					<div class="border-3"></div>
					<div class="panel panel-danger">
						<div class="panel-heading"><i class="glyphicon glyphicon-calendar"></i> Date of Birth</div>
						<div class="panel-body">
							<div class="col-xs-4"><input class="form-control" id="birthday" type="date" /></div>
							<input type="submit" class="btn btn-danger" value="Confirm">
						</div>
					</div>
					<div class="border-3"></div>
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-earphone"></i> Phone Number</div>
						<div class="panel-body">
							<div class="col-xs-4">
								<input type="text" class="form-control"; style="ime-mode:disabled" onpaste="return false" onkeypress="keyPress()" />
							</div>
							<div class="text_btn"><input type="submit" class="btn btn-primary" value="Confirm"></div>
						</div>
					</div>


					</div>
					<div class="border-3"></div>
					<div class="panel panel-danger">
						<div class="panel-heading"><i class="glyphicon glyphicon-home"></i> Address</div>
						<div class="panel-body">
							<div class="col-xs-9">
								<input type="text" class="form-control" id="usr">
							</div>
							<div class="text_btn"><input type="submit" class="btn btn-danger" value="Confirm"></div>
						</div>
					</div>
				</div>
			</div>
            </div>
		</div>
	</div>
</div>

<!-- Script for phone number-->
<script>
	function keyPress()
		{ var keyCode = event.keyCode;
			if (keyCode >= 48 && keyCode <= 57)
				{ event.returnValue = true; }
			else
				{ event.returnValue = false; }
		}
	</script>

{% endblock %}
