{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My WishList </h1>
            </div>
        </div>
		
        <!-- Item One -->
		{% for wishlist in wishlists %}
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0697/7289/products/16128VisitorCentreObjects095_grande.jpg" height=300 width=150 alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>{{ wishlist.item }}</h3>
                <h4>{{ wishlist.item.slug }}</h4>
                <p>{{ wishlist.added_date | date:"j M" }}</p>
                <a class="btn btn-primary" href="/giftshop/wishlist/{{ wishlist.item.slug }}/delete_wishlist/">Remove <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
		<hr>
		{% endfor %}


        </div>



        <hr>
        <!-- Pagination and item -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        {% if wishlists.has_previous %}
							<a href="?page={{ wishlists.previous_page_number }}">previous</a>
						{% endif %}
                    </li>
					{% for wishlist in wishlists.paginator.page_range %}
						{% if wishlist == wishlists.number %}
							<li class="active"><a href="?page={{ wishlist }}" >{{ wishlist }}</a></li>
						{% else %}
							<li><a href="?page={{ wishlist }}">{{ wishlist }}</a></li>
						{% endif %}
					{% endfor %}

                    <li>
                        {% if wishlists.has_next %}
							<a href="?page={{ wishlists.next_page_number }}">next</a>
						{% endif %}
                    </li>

                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
{% endblock %}
