{% extends 'giftshop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My WishList </h1>
            </div>
        </div>

        								{% for wishlist in wishlists %}
									<tr>
										<td>{{ wishlist.item }}</td>
                                        <td>{{ wishlist.item.slug }}</td>
                                        <td><a href="/giftshop/wishlist/{{ wishlist.item.slug }}/delete_wishlist/">qweqweqweqwe</a>></td>
										<td id="comment_user">{{ wishlist.user }}</td>
										<td>{{ wishlist.added_date | date:"j M" }}</td>
									</tr>
								{% endfor %}

        <!-- Item One -->
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0697/7289/products/16128VisitorCentreObjects095_grande.jpg" height=300 width=150 alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Item name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">Remove <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0697/7289/products/16128VisitorCentreObjects095_grande.jpg" height=300 width=150 alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Item name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">Remove <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        </div>

        <!-- /.row -->

        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
{% endblock %}
